/* Variables */





:root {
  --background-color: #f4f6f8;
  --text-color: #333;
  --sidebar-width: 250px;
  --navbar-height: 60px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}






/* Global Styles */


.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.box-and-button-container {
  display: flex;
  flex: 1; 
}

.sidebar-container {
  width: 250px; 
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  overflow-y: auto; 
}



body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h2 {
  color: #000000;
  border-bottom: 2px solid #df8337;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3 {
  color: #df8337;
  margin-top: 30px;
}

/* Layout */
.dashboard {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-area {
  padding: 30px;
  overflow-y: auto;
}

/* Sidebar */
.sidebar {
  width: var(--sidebar-width);
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  transition: var(--transition);
}

.sidebar h2 {
  margin-bottom: 100px;
  text-align: center;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color:  #605f5f;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 550;
  text-align: left;
  cursor: pointer;
  transition: var(--transition);
}

.sidebar button:hover {
  background-color: #f68802;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 290px; 
  color: #000000;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: var(--navbar-height);
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.navbar input {
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid #000000;
  border-radius: 50px;
  font-size: 14px;
  width: 100px;
  transition: var(--transition);
}

.navbar input:focus {
  outline: none;
  border-color: #d6e3e8;
  width: 300px;
}

.navbar button {
  background-color: #605f5f;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--transition);
}

.navbar button:hover {
  background-color: #f68802;
}

/* Employee and Group Lists */
.employee-list, .group-list {
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.employee-item, .group-item {
  background-color: #f9f9f9;
  margin-bottom: 15px;
  margin-top: 40px;
  padding: 15px;
  border-radius: 8px;
  transition: var(--transition);
  animation: fadeIn 0.3s ease-in-out;
}

.employee-item:hover, .group-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.employee-item button, .group-item button {
  float: right;
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}

.employee-item button:hover, .group-item button:hover {
  opacity: 0.8;
}

.group-employees {
  margin-top: 40px;
  padding: 15px;
}

.group-employees .group-employee {
  margin-top: 20PX;
  display: flex;
  justify-content: space-between;
}

/* Button Styles */
button {
  background-color: #a8a8a8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b9b9b9;
}

button.newEmp, .group-employees .newEmpG {
  background-color: rgb(2, 66, 2);
  color: #fff;
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}

button.modif {
  background-color: rgb(255, 136, 0);
  color: #fff;
}

button.delt {
  background-color: #e6311d;
  color: #fff;
}

.group-employees .newEmpG {
  margin-top: -50PX;
}

/* Popup Styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 5px;
  background: none;
  background-color: transparent;
  border-radius: 20PX;
 height: 20PX;
 width: 20PX;
  border: none;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--text-color);
  cursor: pointer;
  transition: var(--transition);
}

.close-button:hover {
  opacity: 0.8;
  background-color: transparent;
}

.popinput, .popselect {
  display: block;
  margin-bottom: 20PX;
  padding: 10PX;
  border-radius: 10PX;
}

.popinput {
  border: solid black;
}

.popselect {
  border: 1px solid #bdc3c7;
  width: 80%;
}

.popbutton, .popdelet, .popcancel, .popupdelet, .popupcancel {
  padding: 10PX;
  border-radius: 20PX;
  border: none;
  color: #fff;
}

.popbutton {
  display: block;
  border: solid black;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: rgb(6, 77, 6);
  width: 100PX;
}

.popdelet, .popupdelet {
  background-color: #e6311d;
  margin-right: 20px;
  margin-left: 60px;
}

.popupdelet {
  margin-right: 90PX;
}

.popcancel, .popupcancel {
  background-color: #7e7c7c;
}

.employee-selection {
  margin-bottom: 30px;
}

/* Settings Page */
.settings-page {
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.settings-nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.settings-nav button {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #030303;
  cursor: pointer;
  transition: all 0.3s ease;
}

.settings-nav button.active {
  color: #a2a3a4;
  border-bottom: 3px solid #df8337;
}

.settings-nav button:hover {
  color: #ffffff;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #667787;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 70%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
  border-color: #b4b4b4;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #f2f2f2;
  color: #2c3e50;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Dark Mode Styles */
.dark-mode {
  --background-color: #1a1a1a;
  --text-color: #f4f4f4;
}

.dark-mode h2 {
  color: white;
}

.dark-mode .sidebar,
.dark-mode .navbar,
.dark-mode .employee-list,
.dark-mode .group-list,
.dark-mode .settings-page {
  background-color: #2c2c2c;
  color: var(--text-color);
}

.dark-mode .employee-item,
.dark-mode .group-item {
  background-color: #3c3c3c;
}

.dark-mode .settings-nav button {
  color: white;
}

.dark-mode tr:hover {
  background-color: #7d7b7b;
}

.dark-mode .navbar input {
  background-color: #d8d6d6;
  color: var(--text-color);
  border-color: #4c4c4c;
}
.dark-mode .popup-content{
  background-color: #2c2c2c;
}

.dark-mode .sidebar button {
  color: #000000;
  background-color: white;
}
.dark-mode .sidebar button:hover {
  color: #000000;
  background-color: #f68802;
}

.dark-mode .navbar button {
  background-color: #f68802;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsive Design */
@media (max-width: 768px) {
  .settings-nav {
    flex-direction: column;
  }
  
  .settings-nav button {
    width: 100%;
    text-align: left;
  }
}



















/* Update Form Styles */
.update-form-container {
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 60px;
  margin-top: 80px;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
}

.update-form-title {
  text-align: center;
  font-size: 24px;
  color: #df8337;
  margin-bottom: 20px;
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-form input, 
.update-form select {
  width: 70%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  font-size: 16px;
}

.update-form input:focus, 
.update-form select:focus {
  border-color: #5dade2;
  box-shadow: 0 0 5px rgba(93, 173, 226, 0.5);
}

.update-form .update-button {
  background-color: #605f5f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}

.update-form .update-button:hover {
  background-color: #f68802;
}







/* FeedbackTable.css */
.feedback-table-container {
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  margin-top: 20px;
}

.feedback-table-title {
  text-align: center;
  font-size: 24px;
  color: #df8337;
  margin-bottom: 20px;
}

.feedback-table {
  width: 100%;
  border-collapse: collapse;
}

.feedback-table th,
.feedback-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.feedback-table th {
  background-color: #f2f2f2;
  color: #2c3e50;
  font-weight: bold;
}

.feedback-table tr:hover {
  background-color: #f5f5f5;
}












.tasks-table-container {
  background-color: #dcdcdc; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  overflow-x: auto; 
}

.tasks-table-container table {
  width: 100%;
  border-collapse: collapse;
}

.tasks-table-container th, 
.tasks-table-container td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.tasks-table-container th {
  background-color: #f2f2f2; 
  color: #2c3e50;
  font-weight: bold;
}

.tasks-table-container tr:hover {
  background-color: #f5f5f5; 
}
